/* Let's select all elements and pseudo-elements to guarantee we have border-box everywhere on our page */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

body {
    margin: 0;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    position: fixed;
    color: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(12,133,245,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
    right: 0;
    top: 0;
    width: 200px;
    max-width: 50%;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#exit-menu {
    align-self: flex-end;
}


.open-nav {
    visibility: unset;
}

nav ul {
    padding-left: 0;
}
nav ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 1.5em;
}

nav ul li a {
    color:#8cff00;
    text-decoration: none;
}

/* TOP MENU */

.menu {
    margin: 0;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7
}

.menu--list {
    display: none;
    margin-left: 0;
    color: rgb(224, 221, 221);
}

.menu--list li {
    list-style: none;
    padding: 0 2px;
    
    font-weight: 700;
}

.menu--list li a {
    text-decoration: none;
    color: rgb(217, 217, 217);
}

.menu--logo {
    width: 30px;
    transition: transform 200ms;
    cursor: pointer;
}

.menu--logo:hover,
.menu--logo:focus {
    /* transform: scale(1.2); */
}

.menu--pf-logo {
    height: 30px;
}

.header{
    padding: 20px 0 20px 0;
    color: #0c85f5;
    background-color: #F7F7F7;
}

.main {
    margin: 0;
    color: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(12,133,245,1) 0%, rgba(0,212,255,1) 100%);
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 0;
    color: #F7F7F7;
    background-color: #8cff00;
    padding: 40px 0;
}

.header--hero {
    padding-top: 50px;
}

h1 {
    color:#8cff00;
    font-weight: 400;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    line-height: 1.2em;
}

h3 {
    
    color: #8cff00;
    text-align: center;
}

.logo {
    height: 2em;
    padding: 1.5em;
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.header--pedro {
    font-size: 1.2em;
}

.header--p {
    font-weight: bold;
    letter-spacing: 0.9px;
}

.profile-pic {
    height: 200px;
    border-radius: 50%;
    border: 4px solid #8cff00;
}

.footer--name-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--name {
    color: #0c85f5;
}

.footer--logos {
    display: flex;
    justify-content: center;
}

.footer--pf-logo {
    height: 20px;
    margin-right: 10px;
}

.logo-link {
    margin-left: 15px;
}

.logo-link:first-child {
    margin-left: 0;
}

.logo-img {
    height: 30px;
    transition: transform 200ms ease-in-out;
}

.logo-img:hover {
    transform: scale(1.2);
}

/* PROJECTS */

.main-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}

.main-container--project {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
    padding-bottom: 15px;
}

.project--img {
    width: 100%;
}

.project--link-live {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color:#0c85f5;
    background: #8cff00;
    padding: 7px 20px;
    text-shadow: none;
    font-weight: 700;
}

.project--link-live:hover,
.project--link-live:focus {
    background: #388659;
    color:#8cff00;
}

.project--link-github {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color:#8cff00;
    background: #0c85f5;
    padding: 7px 20px;
    text-shadow: none;
    font-weight: 700;
}

.project--link-github:hover,
.project--link-github:focus {
    color:#0c85f5;
    background: #ffee00;
}

.project--title {
    color:#0c85f5;
}

@media (min-width: 870px) {
    .header {
        padding-top: 0px;
    }

    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .main-container--project {
        margin: 10px;
    }

    .profile-pic {
        height: 150px;
    }

    .menu {
        position: fixed;
        width: 100%;
        background: linear-gradient(315deg, rgba(12,133,245,1) 0%, rgba(0,212,255,1) 100%);
    }

    .menu--logo {
        display: none;
    }

    .menu--list {
        display: flex;
    }


}