/* Let's select all elements and pseudo-elements to guarantee we have border-box everywhere on our page */
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Jost', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header{
    padding: 0 0 20px 0;
    color: #0c85f5;
    background-color: #F7F7F7;
}

.main {
    margin: 0;
    color: rgb(255, 255, 255);
    /* background-color:rgba(0,212,255,1) ; */
    background-image: url(images/coding-background.jpg), linear-gradient(315deg, rgba(12,133,245,1) 0%, rgba(0,212,255,1) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    margin: 0;
    color: #F7F7F7;
    background-color: #8cff00;
    padding: 40px 0;
}

/* BLOG */
.blog--main {
    padding: 100px 20px;
    color: #4e4e4e;
}

.blog--main-p {
    max-width: 800px;
    text-align: center;
    margin: 30px auto;
}

.blog--main-entry {
    background-color: #fcf4f4;
    box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.5);
    max-width: 800px;
    margin: 30px auto;
    padding: 15px;
}

.blog--main-entry p {
    text-align: justify;
    margin-top: 7px;
    margin-bottom: 7px;
}

.blog--main-entry img {
    max-width: 80%;
    margin: 10px 0;
}

.blog--main-entry-h2 {
    line-height: 1.2em;
    color: #0c85f5;
}

#blog--main-entry-date {
    color: #0c85f5;
    font-style: italic;
    font-weight: 400;
    text-align: right;
}


/* NAV */

nav {
    position: fixed;
    color: rgb(255, 255, 255);
    background: linear-gradient(315deg, rgba(12,133,245,1) 0%, rgba(0,212,255,1) 100%);
    height: 100vh;
    right: 0;
    top: 0;
    width: 200px;
    max-width: 50%;
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 15px;
    z-index: 10;
}

#exit-menu {
    align-self: flex-end;
}

.open-nav {
    visibility: unset;
}

nav ul {
    padding-left: 0;
}
nav ul li {
    list-style: none;
    padding-bottom: 30px;
    font-size: 1.5em;
}

nav ul li a {
    color:#8cff00;
    text-decoration: none;
}

/* TOP MENU */

.menu,
.blog--menu {
    margin: 0;
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F7F7F7;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.blog--menu {
    padding: 0 10px;
}

.blog--menu--list {
    display: flex;
    margin-left: 0;
    color: rgb(217, 217, 217);
}

.blog--menu--list li a {
    text-decoration: none;
}

.menu--list {
    display: none;
    margin-left: 0;
    color: rgb(224, 221, 221);
}

.menu--list li,
.blog--menu--list li{
    list-style: none;
    padding: 0 2px;
    font-weight: 700;
}

.menu--list li a {
    text-decoration: none;
    color: rgb(217, 217, 217);
}

.blog--menu--list li a {
    color: #0c85f5;
}

.menu--logo {
    width: 30px;
    transition: transform 200ms;
    cursor: pointer;
}

/* .menu--logo:hover,
.menu--logo:focus {
    transform: scale(1.2);
} */

.menu--pf-logo {
    height: 30px;
}


h3 {
    
    color: #8cff00;
    text-align: center;
}

/* .logo {
    height: 2em;
    padding: 1.5em;
    animation: logo-spin infinite 20s linear;
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
} */

/* LOADING ANIMATION */

@keyframes h1-load {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes p-load {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes profile-pic-load {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* HEADER */

.header--hero {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.header--pedro {
    font-size: 1.2em;
}

.header--h1 {
    font-weight: 400;
    text-shadow: 0 0 1px rgb(0, 0, 0);
    line-height: 1.2em;
    animation: h1-load 1s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.header--p {
    letter-spacing: 0.9px;
    width: 60%;
    text-align: center;
    font-size: 1.5em;
    animation: p-load 1s ease-out;
    animation-fill-mode: forwards;
    opacity: 0;
}

.profile-pic {
    height: 200px;
    border-radius: 50%;
    border: 4px solid #8cff00;
    box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.5);
    bottom: 10%;
    /* The next property will grab the keyframe named "profile-pic-load". The animation will last 500ms with an ease-in effect and it will only start after 500ms of page loading. */
    animation: profile-pic-load 500ms ease-in 500ms;
    /* The next property will make sure that the animation result will be definite on the element (opacity: 1), because by default it has opacity: 0 */
    animation-fill-mode: forwards;
    opacity: 0;
}

/* ABOUT ME */

.about-and-footer {
    /* min-height: 100vh; */
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
}

.about-me {
    padding: 60px 20px;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.about-me--links {
    cursor: pointer;
    font-weight: bold;
}

.about-me--links:hover,
.about-me--links:focus {
    color: #388659;
}

.about-me--links {
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    color: #000;
}

.about-me--links:hover,
.about-me--links:focus {
    color: #388659;
}


/* PROJECTS */

.main-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
}

.main-container--project {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 2px 10px 1px rgba(0,0,0,0.5);
    border-radius: 4px;
    padding-bottom: 15px;
}



.project--img-container-one,
.project--img-container-two,
.project--img-container-three,
.project--img-container-four {
    max-width: 100%;
    min-height: 300px;
    transition: 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: contain;
}

.project--img-container-one {
    background-image: url("./images/todo-localstorage-typescript-project.png");
}

.project--img-container-two {
    background-image: url("./images/password-generator-project.png");
}

.project--img-container-one p,
.project--img-container-two p,
.project--img-container-three p,
.project--img-container-four p {
    opacity: 0;
    transform: scale(0);
    transition: 0.8s;
    font-size: 2rem;
    color: white;
}

.project--img-container-one:hover,
.project--img-container-two:hover,
.project--img-container-three:hover,
.project--img-container-four:hover {
    box-shadow: 0 0 0 200px rgba(0,0,0,0.8) inset;
}

.project--img-container-one:hover p,
.project--img-container-two:hover p,
.project--img-container-three:hover p,
.project--img-container-four:hover p {
    opacity: 1;
    transform: scale(1)
}

.project--img {
    width: 100%;
}

.project--link {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.main-container--p {
    display:block;
    margin: 0;
    color: #388659;
    padding: 0 5px 0 0;
    font-size: 0.9em;
    text-decoration: none;
}

.main-container--p:hover,
.main-container--p:focus {
    color:#0c85f5;
    text-decoration: underline;
}


.project--link-h3 {
    color:#0c85f5;
    margin-bottom: 10px;
}

.project--link-h3:hover,
.project--link-h3:focus {
    color:#8cff00;
}


.project--link-live {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color:#0c85f5;
    background: #8cff00;
    padding: 7px 20px;
    text-shadow: none;
    font-weight: 700;
    margin-bottom: 10px;
}

.project--link-live:hover,
.project--link-live:focus {
    background: #388659;
    color:#8cff00;
}

.project--link-github {
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    color:#8cff00;
    background: #0c85f5;
    padding: 7px 20px;
    text-shadow: none;
    font-weight: 700;
}

.project--link-github:hover,
.project--link-github:focus {
    color:#0c85f5;
    background: #ffee00;
}

.project--title {
    color:#0c85f5;
}

/* FOOTER */

.footer--name-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer--name {
    color: #0c85f5;
}

.footer--logos {
    display: flex;
    justify-content: center;
}

.footer--pf-logo {
    height: 20px;
    margin-right: 10px;
}

.logo-link {
    margin-left: 15px;
}

.logo-link:first-child {
    margin-left: 0;
}

.logo-img {
    height: 30px;
    transition: transform 200ms ease-in-out;
}

.logo-img:hover {
    transform: scale(1.2);
}

/* CONTACT MODAL */
.contact--modal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
}

.modal-inner {
    background: white;
    padding: 20px;
    max-height: 300px;
    margin: 0 auto;
    max-width: 600px;
    position: relative;
    top: 30%;
    border-radius: 5px;
}

.modal-inner h2 {
    margin-bottom: 40px;
}

.modal--close-btn {
    background-color: rgb(56, 134, 89, 0.7);
    text-decoration: none;
    border-radius: 4px;
    padding: 7px 20px;
    text-shadow: none;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin-top: 70px;
}

.modal--close-btn:hover,
.modal--close-btn:focus {
    background-color: rgb(56, 134, 89, 0.5);
}

.modal--close-btn:active {
    background-color: #0c85f5;
}


/* PROJECT PAGE */

.project-page--main {
    color: #0c85f5;
    background-color: #F7F7F7;
    padding: 30px;
}

.project-page--container {
    max-width: 700px;
    margin: 0 auto;
}
.project-page--h1 {
    line-height: 1.2em;
}

.project-page--img {
    max-width: 100%;
    margin: 20px auto;
    margin-top: 0;
}

.project--h3 {
    color:#0c85f5;
}

.project--p-a,
.project--h3-a {
    text-decoration: none;
    color:#388659;
}

.project--h3-a {
    font-size: 1.1em;
}


.project--p-a:hover,
.project--p-a:focus,
.project--h3-a:hover,
.project--h3-a:focus {
    text-decoration: underline;
}



@media (min-width: 870px) {
    .header {
        padding-top: 0px;
    }

    .main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .main-container--project {
        margin: 10px;
    }

    .profile-pic {
        height: 300px;
    }

    .menu,
    .blog--menu {
        padding: 0 10px;
        position: fixed;
        width: 100%;
        background: linear-gradient(315deg, rgba(12,133,245,1) 0%, rgba(0,212,255,1) 100%);
    }

    .blog--menu--list li a {
        color: rgb(217, 217, 217);
    }

    .menu--logo {
        display: none;
    }

    .menu--list {
        display: flex;
    }

    .about-me {
        max-width: 600px;
        margin: auto;
    }
}